* {
    padding: 0;
    margin: 0;
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

input {
    height: 4rem;
    width: 40rem;
    font-size: 2rem;   
    text-align: center;
    border: 5px solid #000000;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    color: #000000;
}
    

.botao {
    height: 3rem;
    width: 20rem;
    font-size: 2rem;   
    text-align: center;
    border: 5px solid #000000;
    border-radius: 3px;
}

body {
    background-color: rgba(42, 168, 190, 0.651);
}


@media screen and (max-width:1000px){
    body {
        background-color: rgba(42, 168, 190, 0.651);
    }
    
    input {
        height: 2rem;
        width: 20rem;
        font-size: 1rem;   
        text-align: center;
        border: 2.5px solid #000000;
        border-radius: 1.5px;
        background-color: rgb(255, 255, 255);
        color: #000000;
    }

    .botao {
        height: 1.8rem;
        width: 10rem;
        font-size: 1.2rem;   
        text-align: center;
        border: 2.5px solid #000000;
        border-radius: 1.5px;
    }
}


