*{
    margin: 0;
    padding: 0;
}

.corpo{
    background-image: url("../images/Fundo.jpg");
    background-size: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.botoes{
    margin-left: 34px;
    margin-bottom: 368px;
}

.linha {
    margin-top: 220px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.wifi{
    width: 90px;
    height: 90px;
}

.cadastre-se{
    font-family: 'Poppins', sans-serif;
    border: 2px rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #fff;
    width: 210px;
    height: 40px;
    font-size: 18px;
}

.login{
    font-family: 'Poppins', sans-serif;
    border: 2px rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #fff;
    width: 210px;
    height: 40px;
    font-size: 18px;
}


.item_linha{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 35px;
}
